<h2>
  ダッシュボード
</h2>
<mat-accordion>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      貸す
    </mat-expansion-panel-header>
    <a mat-raised-button bookchainNotImplemented>
      新たに貸す
    </a>

    <a mat-raised-button bookchainNotImplemented>
      返してもらう
    </a>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      借りる
    </mat-expansion-panel-header>
    <a mat-raised-button bookchainNotImplemented>
      新たに借りる
    </a>
    <a mat-raised-button bookchainNotImplemented>
      借りた本を返す
    </a>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      その他
    </mat-expansion-panel-header>
    <a mat-raised-button routerLink="profile">
      プロフィール
    </a>
    <a mat-raised-button bookchainNotImplemented>
      本の管理
    </a>
  </mat-expansion-panel>
</mat-accordion>