<h2>
  ダッシュボード
</h2>
<mat-accordion>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      貸す
    </mat-expansion-panel-header>
    <a mat-raised-button routerLink="/trade/inviter" [queryParams]="{purpose:'rental'}">
        新たに貸す
    </a>

    <a mat-raised-button routerLink="/trade/inviter" [queryParams]="{purpose:'return'}">
      返してもらう
    </a>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      借りる
    </mat-expansion-panel-header>
    <a mat-raised-button routerLink="/trade/guest" [queryParams]="{purpose:'rental'}">
      新たに借りる
    </a>
    <a mat-raised-button routerLink="/trade/guest" [queryParams]="{purpose:'return'}">
      借りた本を返す
    </a>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      その他
    </mat-expansion-panel-header>
    <a mat-raised-button bookchainNotImplemented>
      プロフィール
    </a>
    <a mat-raised-button routerLink="/register">
      書籍の登録
    </a>
  </mat-expansion-panel>
</mat-accordion>
